@use "../globals";


.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 1.2rem !important;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{

border-bottom: 4px solid var(--color-hover);


}

   

